  <div class="row">
    <div class="col">
      <div
        (click)="expandRow()"
        class="btn btn-warning">
        <span>{{isExpanded ? '-' : '+'}}</span>
      </div>
    </div>
    <div class="col">
      {{ user.id }}
    </div>
    <div class="col">
      <img [src]="user.avatar_url">
    </div>
    <div class="col">
      {{ user.login }}
    </div>
    <div class="col">
      <a [href]="user.html_url" target="_blank">
        {{user.html_url}}
      </a>
    </div>
  </div>
<app-expanded-view *ngIf="isExpanded"></app-expanded-view>
