<div class="row">
  <div class="col col-1"></div>
  <div class="col col-5">
    <div
      (click)="expandRow()"
      class="btn btn-warning mr-2">
      <span>{{commitsExpanded ? '-' : '+'}}</span>
    </div>
    {{repo.name}}
  </div>
  <div class="col col-6">
    <a [href]="repo.url" target="_blank">{{repo.url}}</a>
  </div>
</div>

<div *ngIf="commitsExpanded">
  <ng-container *ngIf="!isNoCommits; else noCommits">
    <app-commits-view
      [commit]="commit"
      *ngFor="let commit of reposCommits"
    ></app-commits-view>
  </ng-container>

  <ng-template #noCommits>
    <div class="row">
      <div class="col col-1"></div>
      <div class="col col-11">
        {{httpErrorResponse}}
      </div>
    </div>
  </ng-template>
</div>

