<div class="row justify-content-center mt-3">
  <nav aria-label="Page navigation col-3">
    <ul class="pagination">
      <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
        <span class="page-link" (click)="setPage(1); changePage(1)">First</span>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
        <span class="page-link" (click)="setPage(pager.currentPage - 1); changePage(pager.currentPage)">Previous</span>
      </li>
      <li *ngFor="let page of pager.pages"
          [ngClass]="{active:pager.currentPage === page}"
          class="page-item">
        <span class="page-link" (click)="setPage(page); changePage(page)">{{page}}</span>
      </li>
      <li
        class="page-item"
        [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <span class="page-link" (click)="setPage(pager.currentPage + 1);
         changePage(pager.currentPage)">Next</span>
      </li>
      <li
        class="page-item"
        [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <span class="page-link" (click)="setPage(pager.totalPages); changePage(pager.totalPages)">Last</span>
      </li>
    </ul>
  </nav>
</div>
