<table class="table table-striped mt-4">
  <thead>
  <tr>
    <th scope="col">id</th>
    <th scope="col">Picture</th>
    <th scope="col">Name</th>
    <th scope="col">url</th>
  </tr>
  </thead>
  <tbody *ngIf="users">
  <tr
    *ngFor="let user of users.items">
    <th scope="row">{{ user.id }}</th>
    <th scope="row"><img [src]="user.avatar_url"></th>
    <th scope="row">
      {{ user.login }}
    </th>
    <th scope="row"><a [href]="user.html_url" target="_blank">{{user.html_url}}</a></th>
  </tr>
  </tbody>
</table>
